
@{
    ViewBag.Title = "fail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="height:150px"></div>
<h1 style="text-align:center">Đặt Hàng Thất Bại</h1>
<a href="/Home/index" class="bg-success">Quay lại</a>

