
@{
    ViewBag.Title = "DoiMatKhauThanhCong";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="height:150px"></div>
<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-success mb-4">Đổi Mật Khẩu Thành Công</h1>
        <div class="mt-4">
            <a href="/User/ThongTinCaNhan" class="btn btn-success btn-lg px-4 py-2 mr-3">
                Quay về
            </a>
        </div>
    </div>
</div>

